<% include partials/header %>

<div class="ui main text container segment">
<div class="ui huge header"><%- blog.title %></div>
    <div class="ui top attatached">
        <div class="item">
            <img class="ui centered rounded image" src= "<%= blog.image %>" >
        
            <div class="content" style="margin: 15px 15px;">
                <span><%- blog.created.toDateString() %></span>
            </div>

        <div class="description" style="margin-bottom: 15px;">
            <p><%- blog.desc %></p> 
        </div>
        <a class="ui blue inverted button" href="/blogs/<%= blog._id %>/edit">Edit</a>
        
        <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="delete">
            <input type="submit" class="ui red inverted button" value="Delete Blog">
        </form>
        
    </div>
</div>
</div>

<% include partials/footer %>